:root {
	font-family: 'Chakra Petch', sans-serif;
	font-family: 'IBM Plex Mono', monospace;
}

  /* form animation starts */
  .form {
	background: rgba(255, 255, 255, 0.747);
	box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
	border-radius: 5px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	left: 0;
	right: 0;
	position: absolute;
	border-top: 5px solid #040f09;
  /*   z-index: 1; */
	animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
	font-size: 1.3em;
  }
  
  .title{
	display: block;
	font-family: 'IBM Plex Mono', monospace;
	margin: 10px auto 5px;
	width: 300px;
  }
  .termsConditions{
	margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
	font-size: 2em;
	font-weight: bold;
  }
  .secondaryTitle{
	color: rgb(43, 41, 41);
  }
  
  .name {
	background-color: #ff46c1;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
  }
  .name:hover {
	border-bottom: 5px solid #e02e96;
	height: 30px;
	width: 380px;
	transition: ease 0.5s;
  }
  
  .email {
	background-color: #8a32d3;
	color: white;
	height: 2em;
	font-family: 'IBM Plex Mono', monospace;
  }
  
  .email:hover {
	border-bottom: 5px solid #631ca5;
	height: 30px;
	width: 380px;
	transition: ease 0.5s;
  }
  
  .message {
	background-color: #4baeff;
	color: white;
	overflow: hidden;
	height: 10rem;
	font-family: 'IBM Plex Mono', monospace;
  }
  
  .message:hover {
	border-bottom: 5px solid #3b46e7;
	height: 12em;
	width: 380px;
	transition: ease 0.5s;
  }
  
  .formEntry {
	display: block;
	margin: 30px auto;
	min-width: 300px;
	padding: 10px;
	border-radius: 2px;
	border: none;
	transition: all 0.5s ease 0s;
  }
  
  .submit {
	width: 200px;
	color: white;
	background-color: #07d467;
	font-size: 20px;
	font-family: 'IBM Plex Mono', monospace;
  }
  
  .submit:hover {
	box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
	transform: translateY(-3px);
	width: 300px;
	border-top: 5px solid #319613;
	border-radius: 0%;
  }
  
  @keyframes bounce {
	0% {
	  tranform: translate(0, 4px);
	}
	50% {
	  transform: translate(0, 8px);
	}
  } 
  