
span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-80%, -60%);
  display: block;
  color: #ff4ed9;
  font-size: 124px;
  letter-spacing: 8px;
  cursor: pointer;
}

.lead {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-10%, 10%);
	display: block;
	color: #73a4ff;
	font-size: 30px;
	letter-spacing: 8px;
	cursor: pointer;	
}

span::before {
  content: "VIVIANNA COWAN";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

span::after {
  content: "VIVIANNA COWAN";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
} 


